---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { Card, CardGrid, LinkCard } from '@astrojs/starlight/components';
import { Image } from 'astro:assets';
import doug from '../assets/doug.svg';
import '@fontsource/teko';

const frontmatter = {
    title: "Unicorn Delivery Service",
    description: "Explore guides and tutorials for the Unicorn Delivery Service platform",
    template: "splash",
    hero: {
        title: "Unicorn Delivery Service",
        tagline: "A secure software delivery product built for National Security missions.",
        image: {
            dark: doug,
            light: doug,
        },
    },
    prev: false,
    next: false
} as const;

const sections = [
    {
        title: 'Get Started',
        links: [
            { title: 'Why UDS?', href: 'overview/why-uds' },
            { title: 'Basic Requirements', href: 'getting-started/basic-requirements' },
            { title: 'Install & Deploy UDS', href: 'getting-started/install-and-deploy-uds' },
            { title: 'What is a UDS Bundle?', href: '/structure/bundles/' },
            { title: 'Quickstart', href: '/reference/cli/quickstart-and-usage/' },
            { title: 'Command Reference', href: '/reference/cli/commands/uds/' },
        ]
    },
    {
        title: 'Product Capabilities',
        links: [
            { title: 'Secure Runtime - UDS Core', href: '/reference/uds-core/overview/' },
            { title: 'Tactical Edge Deployments', href: '/tactical-edge-deployments/overview' },
        ]
    },
    {
        title: 'Working with UDS Core',
        links: [
            { title: 'Prerequisites', href: '/reference/uds-core/prerequisites' },
            { title: 'Bundle Overrides', href: '/reference/bundles/overrides' },
            { title: 'Distribution Support', href: '/reference/uds-core/distribution-support/' },
            { title: 'Functional Layers', href: '/reference/uds-core/functional-layers/' },
            { title: 'UDS Core Flavors', href: '/reference/uds-core/flavor-specific-development-notes/' }
        ]
    },
    {
        title: 'Bundles & Configuration',
        links: [
            { title: 'Istio Ingress', href: '/reference/configuration/ingress' },
            { title: 'Pepr Policies', href: '/reference/configuration/pepr-policies' },
            { title: 'UDS Operator', href: '/reference/configuration/uds-operator/overview/' },
            { title: 'DNS Configuration', href: '/reference/uds-core/dns/' },
        ]
    },
    {
        title: 'Security & Identity',
        links: [
            {title: 'UDS Security Overview', href: '/security/overview'},
            {title: 'UDS Identity Config Overview', href: '/reference/uds-core/idam/uds-identity-config-overview'},
            {title: 'Keycloak Plugin', href: '/reference/uds-core/idam/plugin'},
        ]
    },
    {
        title: 'Tutorials',
        links: [
            {title: 'Deploy a sample app with UDS Core', href: '/tutorials/deploy-with-uds-core/'},
            {title: 'Integrate an App with UDS Core', href: '/tutorials/create-uds-package/'},
            {title: 'Add UDS to a Zarf package', href: '/tutorials/add-package-to-bundle/'}
        ]
    }
]
---
<style>
    :root[data-theme='light'] {
        h1, h2 {
            font-family: "Teko", sans-serif;
            color: #122248;
        }
    }

    :root[data-theme='dark'] {
        h1, h2 {
            font-family: "Teko", sans-serif;
            color: rgba(36,176,255);
        }

        .card {
            background-color: rgb(31 41 55);
        }
    }

    html:not([data-has-sidebar]) {
        --sl-content-width: 80rem;

        .card > .body ul {
            list-style: none outside none;
            padding: 0;
        }

        .hero {
            display: grid;
            align-items: center;
            gap: 1rem;
            padding-bottom: 1rem;
            padding-top: 1rem;
        }

        .hero > img,
        .hero > .hero-html {
            object-fit: contain;
            width: min(60%, 20rem);
            height: auto;
            margin-inline: auto;
        }

        .stack {
            text-align: center;
            align-items: center;
        }

        .copy {
            text-align: left;
            font-family: "Teko", sans-serif;
            gap: 0;
        }

        .copy > * {
            max-width: 80ch;
        }

        .copy > .tagline {
            font-size: 24px;
            line-height: 2rem;
        }

        @media (min-width: 70rem) {
            .card-grid {
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1.5rem;
            }
        }

        @media (max-width: 50rem) {
            .hero {
                img {
                    width: 10rem;
                }
            }

            .copy {
                font-size: 32px;
                font-family: "Teko", sans-serif;
                gap: 0;
            }

            .copy > .tagline {
                font-size: 20px;
                text-align: center;
                line-height: 2rem;
            }
        }
    }
</style>

<StarlightPage frontmatter={frontmatter} hasSidebar={false}>
    <div class="space-y-8">
        <CardGrid>
            {
                sections.map((section) => (
                    <Card title={section.title}>
                        <ul >
                            {section.links.map((link) => (
                                <li><a class="no-underline" href={link.href}>{link.title}</a></li>
                            ))}
                        </ul>
                    </Card>
                ))
            }
        </Cardgrid>
    </div>
    <div>
        <h2 class="text-left">Get involved</h2>
        <div>
            <Card title="UDS Core">
                <p>
                        UDS Core provides a secure baseline for cloud-native systems and includes compliance documentation with strong support for airgap environments.
                </p>
                    <LinkCard title="Go to UDS Core on GitHub" href="https://github.com/defenseunicorns/uds-core" />
            </Card>
            <Card title="UDS CLI">
                <p>
                        UDS CLI allows bundling and deploying multiple independent Zarf packages efficiently.
                </p>
                    <LinkCard title="Go to UDS CLI on GitHub" href="https://github.com/defenseunicorns/uds-cli" target="_blank" />
            </Card>
            </div>
        </div>
    </div>
</StarlightPage>